<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <!-- 动态token 每次操作maven都需要去https://central.sonatype.com/account生成-->
        <server>
            <id>${server}</id>
            <username>S+hsfXEw</username>
            <password>2rC/4n15um6ldpBKCMCYlpMm7z2Pggr4g40V83D8WqY6</password>
        </server>
    </servers>

</settings>
