<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- Maven 中央仓库 -->
    <mirrors>
        <mirror>
            <id>central</id>
            <url>https://repo.maven.apache.org/maven2</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <!-- 开发者信息 -->
    <profiles>
        <profile>
            <id>central</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <developer.name>zhoujunlin</developer.name>
                <developer.email>zhoujunlin.work@outlook.com</developer.email>
            </properties>
        </profile>
    </profiles>

    <!-- 激活开发者配置 -->
    <activeProfiles>
        <activeProfile>central</activeProfile>
    </activeProfiles>

</settings>
